@tailwind base;
@tailwind components;
@tailwind utilities;


.image_editor {
    width: 100vw;
    height: 100vh;
    background-color: #e1e6ef;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 28px;
    width: 700px;
    height: 80%;
    background-color: #fff;
    box-shadow: 0 8px 16px 0px rgb(201, 201, 201);

}

.card_header h2 {
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #e52fcf;
}

.card_body {
    display: flex;
    justify-content: center;
}


.side_body {
    width: 250px;
    border: 1px solid #c3c5c4;
    margin-right: 8px;
    height: 340px;
    padding: 10px;
}

.side_body span {
    font-size: 15px;
    color: #404040;
    margin-bottom: 4px;
    display: block;
}

.filter_key {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
}

.filter_key button.active {
    background-color: rgb(84, 92, 216);
    color: #fff;
}

.filter_key button {
    padding: 8px;
    background-repeat: 3px;
    background-color: #eff1f1;
    border: 1px solid #dad7d7;
    cursor: pointer;
    text-transform: capitalize;
    color: #464444;
}

.filter_slider {
    margin: 15px 0px;
}

.label_bar {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}

.filter_slider label,
span {
    color: #404040;
    font-size: 15px;
    text-transform: capitalize;

}

.filter_slider input {
    width: 100%;
}

.rotate label {
    margin-bottom: 8px;
    display: block;
    font-size: 15px;
    color: #404040;
}

.icon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.icon div {
    border: 2px solid rgb(179, 194, 194);
    padding: 8px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.image_section {
    margin-left: 8px;
    width: 350px;
    background-color: #f0f0f0;
    height: 300px;
}

.image_section label {
    width: 100%;
    height: 100%;
    display: flex;
    border: dotted;
    cursor: pointer;
    border-color: #c5c9c5;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image_section label svg {
    font-size: 40px;
    color: #b4acac;
}

.image_section span {
    color: #404040;
}

.image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}


.image img {
    object-fit: scale-down;
    transition: all .5s;
    width: 100%;
    height: 100%;
}

.image_select label {
    width: 100%;
    height: 100%;
    display: flex;
    border: dotted;
    cursor: pointer;
    border-color: #c5c9c5;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image_select {
    margin: 20px 0px;
    display: flex;
    justify-content: flex-end;
}

.redo,
.undo {
    background-color: #4a55f3;
    margin-left: 5px;
    color: #fff;
    padding: 5px 10px;
    font-size: 18px;
}

.image_select input {
    display: none;
}

.image_select label,
button {
    padding: 8px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #dad7d7;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
}

.crop {
    background-color: #8e33b7;
    margin-left: 5px;
}

.image_select label {
    background-color: #115811;
    margin-left: 5px;
}

.reset {
    margin-top: 20px;
}

.reset button {
    padding: 8px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #dad7d7;
    cursor: pointer;
    color: #2f2e2e;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
}

.save {
    background-color: rgb(243, 53, 85) !important;
    color: #fff !important;
}